<!DOCTYPE html>
<html>
  <head>
    <title>FindAPet2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  		<div class="nav">
  			<%if current_user %>
  				<h1><%= current_user.username %></h1>
  				<%= link_to 'Pets', root_path %>
          <%= link_to 'View Profile', users_path %>
          <%= link_to 'Log Out', session_path, method: :delete %>
  			<% else %>
          <%= link_to 'Pets', root_path %>
  				<%= link_to 'Login', new_session_path %>
  				<%= link_to 'Register', new_user_path %>	
  			<% end %>
  		</div>
  	</div>

    <%= yield %>
  </body>
</html>
